.square-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 49% auto 49%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90vh;
}

.card-body {
  padding: 0.5rem;
}

.card-image {
  height: 8rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header-box {
  height: 6vh;
}

.buttons-next {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 1px 0;
}
h1 {
  color: green;
}

.buttonIn {
  position: relative;
  padding: 0.2rem;
}

.fancy-input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 5px;
}

.inside-button {
  position: absolute;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 5px;
  height: 23px;
  width: 33px;
  cursor: pointer;
  color: black;
  transform: translate(-1rem, 0.38rem);
}

.modal-hr {
  margin: 1rem;
}

.modal-dialog {
  max-width: 50rem;
}
